In [176]:
city = "Abbotsford"
fav_cuisine = ["Italian", "Pizza"]
rest_name = ["Koya Japan", "An Indian Affair"]
order_pref = ['food' , 'service'	, 'value']
usid = 100
lat = 49.11562
lon = -122.67953

In [224]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.6MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1

In [4]:
import pymysql
import pandas as pd
connection = pymysql.connect(host="sql395.main-hosting.eu",
                             user="u882629798_nipungoel",
                             passwd="wHAT@2314",
                             db="u882629798_TravelBack",
                             charset='utf8mb4', 
                             cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()

In [5]:
SQL_Query = pd.read_sql_query(
'''select *
from CLEANED_BRITISH_RES''', connection)
d = pd.DataFrame(SQL_Query)

SQL_Query1 = pd.read_sql_query(
'''select *
from MODIFIED''', connection)
user = pd.DataFrame(SQL_Query1)

SQL_Query2 = pd.read_sql_query(
'''select *
from RESTAURANTS_1''', connection)
res = pd.DataFrame(SQL_Query2)

SQL_Query3 = pd.read_sql_query(
'''select *
from DS_D2''', connection)
data_p = pd.DataFrame(SQL_Query3)

In [234]:
if city != '-':
    l = list(d["Address"])
    city_list = []
    for i in l:
        j = []
        i = str(i)
        j = i.split(",")
        if len(j) > 1:
            city_list.append(j[-2].lstrip(" "))
        else:
            city_list.append(str(j).lstrip(" "))
    d["city"] = city_list
    fil = d[(d['city'] == city) |  (d.Name.isin(rest_name))]
else:
    def distance(lat,lon,destination1,destination2):
        lat1, lon1 = lat,lon
        lat2, lon2 = destination1,destination2
        radius = 6371 # km
        dlat = math.radians(lat2-lat1)
        dlon = math.radians(lon2-lon1)
        a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
        c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
        d = radius * c
        return d

    d['Distance'] = d.apply(lambda x: distance(lat,lon , x.Latitude, x.Longitude), axis=1)
    fil = d[(d['Distance'] < 20) | (d.Name.isin(rest_name))]

In [181]:
fil_nam = list(fil['Name'])
user = pd.read_csv('/content/modified.csv')
res = pd.read_csv('/content/restaurants_1.csv')

boo = res.title.isin(fil_nam)
fil_res = res[boo]

boo1 = user.restaurant_id.isin(list(res.resId))
fil_user = user[boo1]

In [182]:
data_p = pd.read_csv("/content/Ds_d2.csv", usecols = ["Users", "Restaurant", "Ratings"])
boo2 = data_p.Restaurant.isin(fil_nam)
fil_data = data_p[boo2]

Cosine Similarity and weighted average

In [183]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [188]:
df=fil
df = df.reset_index()
df.Cuisine=df.Cuisine.fillna(" ")
tfv=TfidfVectorizer(min_df=3, max_features=None, 
                    strip_accents='unicode',analyzer='word',
                    token_pattern=r'\w{1,}', ngram_range=(1,3), stop_words='english')
tfv_matrix=tfv.fit_transform(df["Cuisine"])

In [189]:
cos=cosine_similarity(tfv_matrix, tfv_matrix)
ind=pd.Series(df.index, index=df["Name"]).drop_duplicates()
def give_rec_rest(rest, sig=cos):
    idx=ind[rest]
    sig_scores=list(enumerate(sig[idx])) #makes it a list keeping index in consideration
    print(sig_scores)
    sig_scores=sorted(sig_scores, key=lambda x:x[1], reverse=True)
    sig_scores=sig_scores[1:31]
    
    indi=[i[0] for i in sig_scores]
    return df.iloc[indi]

In [190]:
df["Tags"]=df["Tags"].replace("-"," ")
tfv_matrix1= tfv.fit_transform(df["Tags"])
cos1=cosine_similarity(tfv_matrix1,tfv_matrix1)
def give_rec_tag(resta, sig=cos1):
    idx = ind[resta]
    sig_scores = list(enumerate(sig[idx]))
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    sig_scores = sig_scores[1:31]
    indi= [i[0] for i in sig_scores]
    return df.iloc[indi]

In [191]:
x = []
y = []
for i in range(len(rest_name)):
  df1 = give_rec_rest(rest_name[i],cos)
  x.extend(list(df1.Name))
  df2 = give_rec_tag(rest_name[i],cos1)
  y.extend(list(df2.Name))

[(0, 0.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0), (7, 0.0), (8, 0.0), (9, 1.0), (10, 0.0), (11, 0.0), (12, 0.0), (13, 0.39811553761691837), (14, 0.0), (15, 0.0), (16, 0.0), (17, 0.0), (18, 0.0), (19, 0.0), (20, 0.0), (21, 0.0), (22, 0.0), (23, 0.0), (24, 0.0), (25, 0.0), (26, 0.0), (27, 0.0), (28, 0.0), (29, 0.0), (30, 0.0), (31, 0.0), (32, 0.0), (33, 0.0), (34, 0.39811553761691837), (35, 0.0), (36, 0.0), (37, 0.0), (38, 0.0), (39, 0.0), (40, 0.0), (41, 0.0), (42, 0.0), (43, 0.0), (44, 0.0), (45, 0.33995151866047474), (46, 0.39811553761691837), (47, 0.0), (48, 0.39811553761691837), (49, 0.0), (50, 0.0), (51, 0.0), (52, 0.0), (53, 0.0), (54, 0.0), (55, 0.0), (56, 0.0), (57, 0.0), (58, 0.0), (59, 0.0), (60, 0.0), (61, 0.0), (62, 0.0), (63, 0.0), (64, 0.0), (65, 0.0), (66, 0.0), (67, 0.0), (68, 0.0), (69, 0.0), (70, 0.0), (71, 0.0), (72, 0.39811553761691837), (73, 0.0), (74, 0.0), (75, 0.0), (76, 0.0), (77, 0.0), (78, 0.0), (79, 0.0), (80, 0.0), (81, 0.0), (82, 0.0), (83, 0.0), (84, 0.0), (85, 0.0), (86, 0.0), (87, 0.39811553761691837), (88, 0.0), (89, 0.0), (90, 0.0), (91, 0.0), (92, 0.0), (93, 0.0), (94, 0.0), (95, 0.0), (96, 0.0), (97, 0.0), (98, 0.0), (99, 1.0), (100, 0.0), (101, 0.39811553761691837), (102, 0.0), (103, 0.0), (104, 0.39811553761691837), (105, 0.0), (106, 0.0), (107, 0.0), (108, 0.0), (109, 0.0), (110, 0.0), (111, 0.0), (112, 0.0), (113, 0.0), (114, 0.0), (115, 0.0), (116, 0.0), (117, 0.0), (118, 0.0), (119, 0.0), (120, 0.0), (121, 0.0), (122, 0.0), (123, 0.0), (124, 0.0), (125, 0.0), (126, 0.0), (127, 0.0), (128, 0.0), (129, 0.0), (130, 0.0), (131, 0.4973564063634973), (132, 0.0), (133, 0.0), (134, 0.0), (135, 0.39811553761691837), (136, 0.0), (137, 0.0), (138, 0.0), (139, 0.39811553761691837), (140, 0.0), (141, 0.0), (142, 0.0), (143, 0.39811553761691837), (144, 0.0), (145, 0.0), (146, 0.0), (147, 0.0), (148, 0.0), (149, 0.0), (150, 0.0), (151, 0.0), (152, 0.0), (153, 0.0), (154, 0.0), (155, 0.0), (156, 0.39811553761691837), (157, 0.0), (158, 0.0), (159, 0.0), (160, 0.0), (161, 0.0), (162, 0.0), (163, 0.0), (164, 0.0), (165, 1.0), (166, 0.0), (167, 0.0), (168, 0.0), (169, 0.0), (170, 0.0), (171, 0.0), (172, 0.0), (173, 0.0), (174, 0.0), (175, 0.0), (176, 0.0), (177, 0.0), (178, 0.0), (179, 0.0), (180, 0.0), (181, 0.0), (182, 0.0), (183, 0.0), (184, 0.0), (185, 0.5559216790603425), (186, 0.0), (187, 0.0), (188, 0.0), (189, 0.0), (190, 0.0), (191, 0.39811553761691837), (192, 0.0), (193, 0.0), (194, 0.39811553761691837), (195, 0.0), (196, 0.0), (197, 0.0), (198, 0.39811553761691837), (199, 0.0), (200, 0.0), (201, 0.0), (202, 0.0), (203, 0.0), (204, 0.0), (205, 0.0), (206, 0.0), (207, 1.0), (208, 0.0), (209, 0.0), (210, 0.0), (211, 0.0), (212, 0.0), (213, 0.0), (214, 0.0), (215, 0.0), (216, 0.0), (217, 0.0), (218, 0.0), (219, 0.0), (220, 0.0), (221, 0.0), (222, 0.0), (223, 0.0), (224, 0.0), (225, 0.0), (226, 0.0), (227, 0.0), (228, 0.0), (229, 0.0), (230, 0.0), (231, 0.0), (232, 0.0), (233, 0.0), (234, 0.0), (235, 0.0), (236, 0.0), (237, 0.0), (238, 0.0), (239, 0.0), (240, 0.0), (241, 0.0), (242, 0.0), (243, 0.0)]
[(0, 0.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0), (7, 0.0), (8, 0.22538467189884104), (9, 0.0), (10, 0.0), (11, 0.0), (12, 0.24717226395135855), (13, 0.0), (14, 0.0), (15, 0.0), (16, 0.0), (17, 0.0), (18, 0.0), (19, 0.0), (20, 0.0), (21, 0.0), (22, 0.2983169106220553), (23, 0.0), (24, 0.3573933957883124), (25, 0.0), (26, 0.0), (27, 0.0), (28, 0.0), (29, 0.0), (30, 0.0), (31, 0.0), (32, 0.0), (33, 0.4238209376499884), (34, 0.0), (35, 0.0), (36, 0.0), (37, 0.0), (38, 0.2983169106220553), (39, 0.0), (40, 0.0), (41, 0.0), (42, 0.0), (43, 0.0), (44, 0.0), (45, 0.3285682229273336), (46, 0.0), (47, 0.0), (48, 0.0), (49, 0.0), (50, 0.0), (51, 0.0), (52, 0.0), (53, 0.0), (54, 0.33351400439468243), (55, 0.0), (56, 0.0), (57, 0.0), (58, 0.5605361811942458), (59, 0.0), (60, 0.0), (61, 0.0), (62, 0.0), (63, 0.2372906388579786), (64, 0.1246680385481994), (65, 0.0), (66, 0.0), (67, 0.0), (68, 0.0), (69, 0.0), (70, 0.0), (71, 0.4031049353151071), (72, 0.0), (73, 0.0), (74, 0.0), (75, 0.0), (76, 0.0), (77, 0.0), (78, 0.0), (79, 0.0), (80, 0.0), (81, 0.0), (82, 0.0), (83, 0.0), (84, 0.0), (85, 0.0), (86, 0.0), (87, 0.0), (88, 0.3650327464862413), (89, 0.0), (90, 0.0), (91, 0.0), (92, 0.0), (93, 0.0), (94, 0.0), (95, 0.0), (96, 0.0), (97, 0.3655468333367233), (98, 0.0), (99, 0.0), (100, 0.41764160553600116), (101, 0.0), (102, 0.0), (103, 0.0), (104, 0.0), (105, 0.0), (106, 0.0), (107, 0.0), (108, 0.0), (109, 0.19519412320700194), (110, 0.0), (111, 0.0), (112, 0.0), (113, 0.0), (114, 0.0), (115, 0.0), (116, 0.0), (117, 0.3573933957883124), (118, 0.33514405917786705), (119, 0.0), (120, 0.0), (121, 0.0), (122, 0.0), (123, 0.0), (124, 0.0), (125, 0.0), (126, 0.0), (127, 0.0), (128, 0.0), (129, 0.0), (130, 0.5242846093069604), (131, 0.0), (132, 0.2983169106220553), (133, 0.0), (134, 0.0), (135, 0.0), (136, 0.0), (137, 0.0), (138, 0.24717226395135855), (139, 0.0), (140, 0.0), (141, 0.0), (142, 0.0), (143, 0.0), (144, 0.3624171713443451), (145, 0.0), (146, 0.24717226395135855), (147, 0.49210596765479764), (148, 0.0), (149, 0.0), (150, 0.0), (151, 0.0), (152, 0.0), (153, 0.0), (154, 0.0), (155, 0.0), (156, 0.0), (157, 0.0), (158, 0.0), (159, 0.0), (160, 0.0), (161, 0.0), (162, 0.0), (163, 0.3650327464862413), (164, 0.0), (165, 0.0), (166, 0.0), (167, 0.0), (168, 0.0), (169, 0.0), (170, 0.0), (171, 0.0), (172, 0.0), (173, 0.3701686616820347), (174, 0.0), (175, 0.3701686616820347), (176, 0.0), (177, 0.0), (178, 0.0), (179, 0.0), (180, 0.3624171713443451), (181, 0.0), (182, 0.47910415981004517), (183, 0.0), (184, 0.0), (185, 0.0), (186, 0.0), (187, 0.0), (188, 0.0), (189, 0.3701686616820347), (190, 0.0), (191, 0.0), (192, 0.0), (193, 0.0), (194, 0.0), (195, 0.0), (196, 0.0), (197, 0.0), (198, 0.0), (199, 0.0), (200, 0.0), (201, 0.0), (202, 0.0), (203, 0.2593692120254335), (204, 0.0), (205, 0.0), (206, 0.24717226395135855), (207, 0.0), (208, 0.0), (209, 0.5605361811942458), (210, 0.2593692120254335), (211, 0.0), (212, 0.2593692120254335), (213, 0.5541630982972121), (214, 0.33514405917786705), (215, 0.41764160553600116), (216, 0.0), (217, 0.0), (218, 0.6313345723287334), (219, 0.0), (220, 0.0), (221, 0.0), (222, 0.0), (223, 0.0), (224, 0.0), (225, 0.0), (226, 1.0), (227, 0.0), (228, 0.0), (229, 0.0), (230, 0.0), (231, 0.335397100446682), (232, 0.0), (233, 0.0), (234, 0.0), (235, 0.0), (236, 0.0), (237, 0.0), (238, 0.0), (239, 0.0), (240, 0.0), (241, 0.0), (242, 0.0), (243, 0.0)]

In [192]:
z = x+y
boo3 = d.Name.isin(z)
df3 =d[boo3]
df3 =df3.sort_values(by = 'Rating_weighted', ascending= False)
df3 = df3.reset_index()
df3.head()

   index  Unnamed: 0  ...     Price        city
0    101         101  ...  highcost  Abbotsford
1    188         188  ...  highcost  Abbotsford
2    140         140  ...  highcost  Abbotsford
3    103         103  ...  highcost  Abbotsford
4    192         192  ...  highcost  Abbotsford

[5 rows x 54 columns]

In [193]:
result1 = list(df3.Name)

als and clustering

In [194]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [195]:
import os
import time

# spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType
from pyspark.mllib.recommendation import ALS

# data science imports
import math
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.cluster import KMeans

%matplotlib inline

In [196]:
# spark config
spark = SparkSession \
    .builder \
    .appName("restaurant recommendation") \
    .config("spark.driver.maxResultSize", "96g") \
    .config("spark.driver.memory", "96g") \
    .config("spark.executor.memory", "8g") \
    .config("spark.master", "local[12]") \
    .getOrCreate()
# get spark context
sc = spark.sparkContext

In [197]:
rest = spark.read.load(os.path.join('/content/restaurants_1.csv'), format='csv', header=True, inferSchema=True)
rest=rest.drop("_c0")

In [198]:
# load data
rest_rating = sc.textFile('/content/modified.csv')
header = rest_rating.take(1)[0]
rating_data = rest_rating \
    .filter(lambda line: line!=header) \
    .map(lambda line: line.split(",")) \
    .map(lambda tokens: (int(tokens[1]), int(tokens[2]), float(tokens[3]))) \
    .cache()
# check three rows

In [199]:
train, validation, test = rating_data.randomSplit([6, 2, 2], seed=99)

'''
def train_ALS(train_data, validation_data, num_iters, reg_param, ranks):
    """
    Grid Search Function to select the best model based on RMSE of hold-out data
    """
    # initial
    min_error = float('inf')
    best_rank = -1
    best_regularization = 0
    best_model = None
    for rank in ranks:
        for reg in reg_param:
            # train ALS model
            model = ALS.train(
                ratings=train_data,    # (userID, productID, rating) tuple
                iterations=num_iters,
                rank=rank,
                lambda_=reg,           # regularization param
                seed=99)
            # make prediction
            valid_data = validation_data.map(lambda p: (p[0], p[1]))
            predictions = model.predictAll(valid_data).map(lambda r: ((r[0], r[1]), r[2]))
            # get the rating result
            ratesAndPreds = validation_data.map(lambda r: ((r[0], r[1]), r[2])).join(predictions)
            # get the RMSE
            MSE = ratesAndPreds.map(lambda r: (r[1][0] - r[1][1])**2).mean()
            error = math.sqrt(MSE)
            if error < min_error:
                min_error = error
                best_rank = rank
                best_regularization = reg
                best_model = model
    print('\nThe best model has {} latent factors and regularization = {}'.format(best_rank, best_regularization))
    return best_model,best_rank,best_regularization

# hyper-param config
num_iterations = 10
ranks = [10, 14, 16, 18, 20]
reg_params = [0.005, 0.05, 0.1, 0.2]

# grid search and select best model
start_time = time.time()
final_model,best_rank,best_reg = train_ALS(train, validation, num_iterations, reg_params, ranks)
'''
best_rank,best_reg = 10,0.2

In [200]:
def get_resId(df_res, fav_res_list):
    resId_list = []
    for res in fav_res_list:
        resIds = df_res \
            .filter(rest.title.like('%{}%'.format(res))) \
            .select('resId') \
            .rdd \
            .map(lambda r: r[0]) \
            .collect()
        resId_list.extend(resIds)
    return list(set(resId_list))


def add_new_user_to_data(train_data, resId_list, spark_context):

    # get new user id
    new_id = train_data.map(lambda r: r[0]).max() + 1
    # get max rating
    max_rating = train_data.map(lambda r: r[2]).max()
    # create new user rdd
    user_rows = [(new_id, resId, max_rating) for resId in resId_list]
    new_rdd = spark_context.parallelize(user_rows)
    # return new train data
    return train_data.union(new_rdd)


def get_inference_data(train_data, df_res, resId_list):
    
    # get new user id
    new_id = train_data.map(lambda r: r[0]).max() + 1
    # return inference rdd
    return df_res.rdd \
        .map(lambda r: r[0]) \
        .distinct() \
        .filter(lambda x: x not in resId_list) \
        .map(lambda x: (new_id, x))


def make_recommendation(best_model_params, ratings_data, df_res, 
                        fav_movie_list, n_recommendations, spark_context):
    
    # modify train data by adding new user's rows
    resId_list = get_resId(df_res, fav_movie_list)
    train_data = add_new_user_to_data(ratings_data, resId_list, spark_context)
    
    # train best ALS
    model = ALS.train(
        ratings=train_data,
        iterations=best_model_params.get('iterations', None),
        rank=best_model_params.get('rank', None),
        lambda_=best_model_params.get('lambda_', None),
        seed=99)
    
    # get inference rdd
    inference_rdd = get_inference_data(ratings_data, df_res, resId_list)
    
    # inference
    predictions = model.predictAll(inference_rdd).map(lambda r: (r[1], r[2]))
    
    # get top n movieId
    topn_rows = predictions.sortBy(lambda r: r[1], ascending=False).take(n_recommendations)
    topn_ids = [r[0] for r in topn_rows]
    
    # return movie titles
    return df_res.filter(rest.resId.isin(topn_ids)) \
                    .select('title') \
                    .rdd \
                    .map(lambda r: r[0]) \

In [201]:
data = fil
data['Cuisine'] = data['Cuisine'].fillna(" ")
import re
def remove_punc(text):
    text = text.replace(',', ' ')
    return text

data['Cuisine'] = data['Cuisine'].apply(lambda x : remove_punc(x))
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

tfv_matrix = tfv.fit_transform(data['Cuisine'])  
df = pd.DataFrame(tfv_matrix[0].T.todense(), index=tfv.get_feature_names(), columns=["TF-IDF"])
df = df.sort_values('TF-IDF', ascending=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [202]:
kmeans = KMeans(n_clusters=50,init='k-means++',random_state=0)
kmeans.fit(tfv_matrix)
data['clusters'] = kmeans.labels_

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [203]:
def cluster_predict(str_input):
    Y = tfv.transform(str_input)
    prediction = kmeans.predict(Y)
    return prediction

In [204]:
user = fil_user
res = fil_res
users_id = list(user['user_id'])

In [205]:
new_user = usid
fav_cus = fav_cuisine

if new_user not in users_id:
  print('new user')
  f = fav_cus
  prediction = cluster_predict(f)
  data1 =  data[data['clusters'] == prediction[0]]
  list2 = list(data1['Name'])

  my_favorite_restaurants = list2[:50]
  # get recommends
  r2 = recommends = make_recommendation(
      best_model_params={'iterations': 10, 'rank': best_rank, 'lambda_': best_reg}, 
      ratings_data=rating_data, 
      df_res=rest, 
      fav_movie_list=my_favorite_restaurants, 
      n_recommendations=50, 
      spark_context=sc)
  
  result2 = list2[:7]
  for i in r2.collect():
    result2.append(i)

else:
  print('existing user')
  x = list(user[(user['user_id'] == new_user) & (user['Rating'] > 3.0)]['restaurant_id'])
  my_favorite_restaurants = [(res[res['resId'] == i]['title'].values)[0] for i in x]

  r2 = recommends = make_recommendation(
      best_model_params={'iterations': 10, 'rank': best_rank, 'lambda_': best_reg}, 
      ratings_data=rating_data, 
      df_res=rest, 
      fav_movie_list=my_favorite_restaurants, 
      n_recommendations=10, 
      spark_context=sc)
  
  result2 = []
  for i in r2.collect():
    result2.append(i)

  cus = [(data[data['Name'] == i]['Cuisine'].values)[0] for i in result2[:3]]
  prediction = cluster_predict(cus)
  data1 =  data[data['clusters'] == prediction[0]]
  list2 = list(data['Name'])
  result2 += list2

result2

new user

["Paliotti's Italian Restaurants",
 "Antonio's Restaurant",
 'Pizza Garden',
 'Subway',
 "McDonald's",
 'Tim Hortons',
 "Denny's",
 'Ravens Bar & Grill',
 'Mandarin Garden',
 "Carl's Jr.",
 'Wings',
 'Curry Time',
 'Hot Chili House',
 'KFC',
 'Zaika',
 'A&W Restaurant',
 'Wok Box',
 "O'Neill's Home Cooking",
 "Bob's Bar and Grill",
 "Suzy's Cafe",
 'Islands Bar',
 'Tandoori Bites',
 'The Great Wok',
 'Dusty Rose Pub',
 'Mirchi Restaurant',
 'Nirvana',
 'IHOP',
 'Sidharth Grill',
 'Cafe Mai-Mai & Pho',
 'Desi Junction',
 'Bombay Sweets',
 'Mr. Red Cafe',
 'Joyeaux Cafe & Restaurant',
 'Canoe Beach Cafe',
 'Cafe Tasse',
 'UniTea Cafe & Lounge',
 'Bon Cafe',
 "Margo's Cafe"]

Surprise

In [206]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)

In [207]:
import surprise
from surprise import Dataset, Reader
from surprise.similarities import pearson, pearson_baseline
from surprise.prediction_algorithms.knns import KNNBaseline
from surprise.model_selection import train_test_split, GridSearchCV, cross_validate
from surprise import accuracy

In [208]:
import pandas as pd
ids = fil_user

res_id = []
for i in ids["restaurant_id"]:
    res_id.append(i)

users = []
for i in ids["user_id"]:
    users.append(i)

data = pd.read_csv("Ds_d2.csv", usecols = ["Users", "Restaurant", "Ratings"])
data.head()
data["restaurant_id"] = res_id
data["user_id"] = users

reader = Reader(line_format='user item rating', sep=',', rating_scale = (1,10))
tot_data = Dataset.load_from_df(data[["user_id", "restaurant_id", "Ratings"]], reader=reader)

trainset, testset = train_test_split(tot_data, test_size=0.2)

trainset_iids = list(trainset.all_items())
iid_converter = lambda x: trainset.to_raw_iid(x)
trainset_raw_iids = list(map(iid_converter, trainset_iids))

trainsetfull = tot_data.build_full_trainset()

trainsetfull_iids = list(trainsetfull.all_items())
iid_converter = lambda x: trainsetfull.to_raw_iid(x)
trainsetfull_raw_iids = list(map(iid_converter, trainsetfull_iids))

sim_options = {"name":"pearson", "user_based":False}

In [209]:
def return_top_similar_dataframe(similarity_matrix, raw_ids, top_x):
    length = similarity_matrix.shape[0]
    closest_ids = np.zeros((top_x,length))
    for item in range(0,length):    
        similarity_metrics = similarity_matrix[item]        
        sorted_metrics, sorted_raw_ids = zip(*sorted(zip(similarity_metrics, raw_ids)))        
        for index in range(0, top_x):
            closest_ids[index][item] = sorted_raw_ids[-2-index]
        similarity_df = pd.DataFrame()
        similarity_df['restaurant_id'] = raw_ids
        for index in range(0, top_x): 
            similarity_df['similar_res_' + str(index + 1)] = closest_ids[index].astype(int)
    return similarity_df

id_to_name_dict = {}
res_names = data["Restaurant"]
res_ids = data["restaurant_id"]
for index in range(0, len(res_ids)):
    id_to_name_dict[str(res_ids[index])] = res_names[index]

def get_res_name_from_id(res_id):
    return id_to_name_dict[str(res_id)]

def save_similar_res(similarity_matrix, raw_iids, top_x):
    sim_df = return_top_similar_dataframe(similarity_matrix, raw_iids, top_x)
    for column in sim_df.columns:
        for i in range(len(sim_df[column])):
            sim_df[column][i] = get_res_name_from_id(sim_df[column][i])
    return sim_df

from surprise.prediction_algorithms.knns import KNNBasic, KNNWithMeans, KNNBaseline
model1 = KNNBasic(sim_options = sim_options, verbose = False)
model1.fit(trainsetfull)
model2 = KNNWithMeans(sim_options = sim_options, verbose = False)
model2.fit(trainsetfull)
model3 = KNNBaseline(k = 30, sim_options = sim_options, bsl_options = {"method":"sgd","learning_rate":0.00006})
model3.fit(trainsetfull)
sim_basic_df = save_similar_res(model1.sim, trainsetfull_raw_iids, 30)
sim_means_df = save_similar_res(model2.sim, trainsetfull_raw_iids, 30)
sim_base_df = save_similar_res(model3.sim, trainsetfull_raw_iids, 30)

results_basic = cross_validate(model1, tot_data, measures=['RMSE'], cv=3, return_train_measures=True);
results_means = cross_validate(model2, tot_data, measures=['RMSE'], cv=3, return_train_measures=True);
results_base = cross_validate(model3, tot_data, measures=['RMSE'], cv = 3, return_train_measures=True)

Estimating biases using sgd...
Computing the pearson similarity matrix...
Done computing similarity matrix.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Estimating biases using sgd...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using sgd...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using sgd...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [210]:
result3 = []
for i in range(len(rest_name)):
  if rest_name in list(res_names):
    rec3 = sim_basic_df[sim_basic_df["restaurant_id"] == res_name]
    result3.extend(list(rec3.iloc[0, 1:]))

In [219]:
result = {}
if len(result3) == 0:
  p = list(set(result1+result2))
  for i in p:
    if i in result1 and i in result2:
      x = result1.index(i)
      y = result2.index(i)
      t = (0.6 * x) + (0.4 * y)
    elif i in result1:
      x = result1.index(i)
      t = 0.6 * x
    elif i in result2:
      y = result2.index(i)
      t = 0.4 * y

    result[t] = i
else:
  p = list(set(result1+result2))
  for i in p:
    x = 0
    y = 0
    z = 0
    if i in result1:
      x = result1.index(i)
    if i in result2:
      y = result1.index(i)
    if i in result3:
      z = result1.index(i)
    
    t = (0.3 * x) + (0.4 * y) + (0.3 * z)
    result[t] = i

In [220]:
x = sorted(list(result.keys()))
results = [result[x[i]] for i in range(len(x))]
results[:10]

['Nikko Japanese Restaurant',
 "Antonio's Restaurant",
 'Brodeurs Bistro',
 'Pizza Garden',
 'Greek Islands Restaurant',
 'Ann Maries Cafe',
 'Tim Hortons',
 'The Canadian Brewhouse & Grill',
 "Denny's",
 'Ravens Bar & Grill']

In [222]:
idx = pd.Index(d['Name']).get_indexer(results)
Result = d.iloc[idx]
if city != '-':
  Result = Result[Result['city'] == city]
else:
  Result = Result[Result['Distance'] < 20]
Result = Result.sort_values(by = order_pref[0], ascending = False)
Result.head()

     Unnamed: 0 Establishment_Type  ...     Price        city
46           46         Restaurant  ...  highcost  Abbotsford
65           65         Restaurant  ...  highcost  Abbotsford
213         213         Restaurant  ...  highcost  Abbotsford
87           87         Restaurant  ...  highcost  Abbotsford
218         218         Restaurant  ...  highcost  Abbotsford

[5 rows x 53 columns]

In [217]:
rest_name = ["Koya Japan", "An Indian Affair"]
o  = d[d['Name'] == "Koya Japan"]
o.head()

   Unnamed: 0 Establishment_Type  ...          Price        city
9           9         Restaurant  ...  not_available  Abbotsford

[1 rows x 53 columns]

In [218]:
o  = d[d['Name'] == "An Indian Affair"]
o.head()

     Unnamed: 0 Establishment_Type  ...     Price                      city
252         252         Restaurant  ...  highcost  146-19653 Willowbrook Dr

[1 rows x 53 columns]